<mat-drawer-container class="example-container">
        <mat-drawer #drawer class="example-sidenav sideNav" mode="side" opened="true">
                <app-sidenav></app-sidenav>
        </mat-drawer>

        <mat-drawer-content>


                <app-top-navbar></app-top-navbar>



                <div class="mt-3 container">
                        <app-dashboard-view></app-dashboard-view>
                        <router-outlet></router-outlet>
                </div>


        </mat-drawer-content>

</mat-drawer-container>
